body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left, #11de93, #0e7ad6);
}
.container {
  color: azure;
  height: 100%;
  margin: 50px auto;
  width: 800px;
  border: double;
  text-shadow: 1px 1px 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quizz-title {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.answers {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}
.answer input[type="radio"] {
  display: none;
}

.answer label {
  display: inline-block;
  padding: 2px 9px;
  cursor: pointer;
  border: 1px solid #202020;
  border-radius: 10px;
}

.answer input[type="radio"]:checked + label {
  background-color: #d0ffb7;
  border: 1px solid #1ca92e;
}

.answer label:hover {
  background-color: #d0ffb7;
  border: 1px solid #1ca92e;
}

.question-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(204, 194, 194);
  color: white;
  text-shadow: 1px 1px 2px black;
  display: flex;
  margin: 10px;
}
.btn:hover {
  background-color: rgb(147, 182, 247);
}

.results {
  color: azure;
  height: 630px;
  margin: 50px auto;
  width: 800px;
  border: double;
  text-shadow: 1px 1px 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.output {
  display: none;
}

.close {
  position: absolute;
  top: 10px;
  color: #ffffff;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(88, 88, 88);
  text-decoration: none;
  cursor: pointer;
}
